* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: Astronomus;
    src: url(../Font/astronomus/Astronomus.ttf);
}

@font-face {
    font-family: Glitch;
    src: url(../Font/glitch_inside/Glitch\ inside.otf);
}

main {
    margin: 0 auto;
    width: 90%;
    font-family: Astronomus;
}

body{
    background-color: #16151C;
}



.Frame {
    margin: auto;
    margin-top: 50px;
    display: block;
    width: 90%
}

.textDiv {
    position: absolute;
    top: 30%;
    left: 15%;
}

.textDiv h1 {
    font-family: Glitch;
    color: #f2f2f2;
    font-size: 400%;
}

p {
    color: #b7c0de;
    font-size: larger;
}

div.buttons {
    position: absolute;
    margin-top: 50px;
}

/*---Navigation CSS---*/
nav {
    background-color: #16151C;
    color: #f2f2f2;
    padding: 1em;
    display: flex;
    justify-content: right;
}

nav a:link {
    color: #f2f2f2;
}


nav a:hover {
    color: #f2f2f2;
    background-color: #545456;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 1em;
}

nav ul.main-nav {
    display: flex;
}

ul {
    list-style-type: none;
    /*Removes the bullet points*/
}

.Logo{
    float: left;
    position: relative;
    margin: 20px;
    height: 40px;
}