* {
    padding: 0px;
    margin: 0px;
}

/*--Font CSS--*/
@font-face {
    font-family: Astronomus;
    src: url(../Font/astronomus/Astronomus.ttf);
}

/*--Body CSS--*/
body {
    background-color: #16151C;
}


main {
    margin: 0 auto;
    width: 90%;
    font-family: Astronomus;
}

h1 {
    color: #b7c0de;
}

div{
    margin-bottom: 20px;
    margin-top: 20px;
}

/*--Grid--*/
.grid-container1 {
    display: grid;
    grid-column-gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.grid-container2 {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 2px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.grid-item{
    background-color: #27282f;
    text-align: center;
}

.grid-item img{
    height: 300px;
}

/*-- Grid Programming*/
.programming1{
    grid-column: 1/2;
    grid-row: 1/1;
}

.programming2{
    grid-column: 2/2;
    grid-row: 1/1;
}

/*-- Grid Design*/
.design1{
    grid-column: 1/2;
    grid-row: 1/2;
}

.design2{
    grid-column: 2/2;
    grid-row: 1/2;
}

.design3{
    grid-column: 1/2;
    grid-row: 2/2;
}

.design4{
    grid-column: 2/2;
    grid-row: 2/2;
}


/*--Navigation CSS--*/
nav {
    background-color: #16151C;
    color: #f2f2f2;
    padding: 1em;
    display: flex;
    justify-content: right;
}

nav a:link {
    color: #f2f2f2;
}


nav a:hover {
    color: #f2f2f2;
    background-color: #545456;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 1em;
}

nav ul.main-nav {
    display: flex;

}

ul {
    list-style-type: none;
    /*Removes the bullet points*/
}

.Logo{
    float: left;
    position: relative;
    margin: 20px;
    height: 40px;
}

/*--Footer CSS--*/
footer {
    background-color: #27282f;
    padding: 10px;
}

footer p{
    color: #b7c0de;
}